html, body {
    font-size: 12px;
}

.section-one,
.section-two,
.section-three,
.section-four {
    color: white;
    letter-spacing: 1px;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;

    .content {
        height: 150vh;
        background: rgba(black, 0.2);
        width: calc(100vw - 200px);
        display: inline-block;
        margin: 20px 0 40px 0;
        padding: 20px;

        &:before{
            content: "content";
        }
    }
}

.section-one {
    background: #3498DB;
}

.section-two {
    background: #E74C3C;
}

.section-three {
    background: #9B59B6;
}

.section-four {
    background: #1ABC9C;
}
