.gorilla-scroller-navigation{
    display: none;
}

.gorilla-scroller {
    overflow: hidden;

    .gorilla-scroller-root {
        .gorilla-scroller-section {
            position: absolute;
            top: -100vh;
            left: 0;
            overflow: auto;
            height: 100vh;
            width: 100vw;
            transition: all 0.3s linear;

            &.gorilla-scroller-active {
                top: 0;
            }
        }

        .gorilla-scroller-navigation {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 25px;
            display: block;

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    margin-bottom: 10px;

                    a {
                        display: block;
                        width: 10px;
                        height: 10px;
                        border: 2px solid white;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    &.active a {
                        background: white;
                    }
                }
            }
        }
    }
}
