.gorilla-scroller {
    overflow: hidden;

    .gorilla-scroller-root {
        .gorilla-scroller-section {
            position: absolute;
            top: 0;
            left: 0;
            overflow: auto;
            height: 100vh;
            min-width: 100vw;
            max-height: 0;
            transition: all .3s linear;

            &.gorilla-scroller-active {
                max-height: 100vh;
            }
        }

        .gorilla-scroller-navigation {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 25px;

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    margin-bottom: 10px;

                    a {
                        display: block;
                        width: 10px;
                        height: 10px;
                        border: 2px solid white;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    &.active a{
                        background: white;
                    }
                }
            }
        }
    }
}
